body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 5px 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style: none;
    padding-left: 0;
}

.button-container {
    position: relative;
    display: inline-block;
    margin-left: 45%;
    margin-bottom: 40px;
}
.social-links a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}

.hire-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
}

.hire-button:hover {
    background-color: #0056b3;
}


